<div class="article__meta">
  <div class="article__body">
    <a class="article__image--link" [routerLink]="['/profile', article.author.username]">
      <img class="article__image" [src]="article.author.profileImage" />
    </a>

    <div class="article__info">
      <a class="article__author" [routerLink]="['/profile', article.author.username]">
        {{ article.author.username }}
        <svg class="icon icon__verified">
            <use xlink:href="/assets/icons.svg#icon-check-circle"></use>
        </svg>
      </a>
      <!-- <app-follow-buttons [toggler]="toggler" [profile]="article.author" (toggle)="onToggleFollowing($event)"
        (mouseenter)="toggler=true" (mouseleave)="toggler=false">
      </app-follow-buttons> -->

      <span class="article__date">
        {{ article.createdAt }}
      </span>
    </div>
  </div>
  <div class="article__content" *ngIf="isAuthed">
      <ng-content></ng-content>
  </div>
</div>