<div class="full__screen">
    <div class="authentication">
        <div class="container">
            <h1 class="heading__secondary">Share your moments and stories with the world</h1>
            <app-list-errors [errors]="errors"></app-list-errors>
            <form [formGroup]="signUpForm" class="form" (submit)="submitForm()" *ngIf="authType == 'sign-up'">
                <div class="form__controller">
                    <input type="text" class="form__input" formControlName="username" placeholder="Username">
                </div>
                <div class="form__controller">
                    <input type="email" class="form__input" formControlName="email" placeholder="Email Address">
                </div>
                <div class="form__controller">
                    <input type="email" class="form__input" formControlName="emailRepeat"
                        placeholder="Repeat Email Address">
                </div>
                <div class="form__controller">
                    <input type="password" class="form__input" formControlName="password" placeholder="Password">
                </div>
                <div class="form__controller">
                    <input type="password" class="form__input" formControlName="passwordRepeat"
                        placeholder="Repeat Password">
                </div>
                <div class="form__controller">
                    <input type="checkbox" formControlName="checkbox">
                    <p class="form__checkbox">Creating an account means you are okay with our <a class="form__link"
                            routerLink="privacy">Terms
                            of Service, Privacy Police</a> and our default <a class="form__link"
                            routerLink="privacy">Notification
                            Settings</a>
                    </p>
                </div>
                <div class="form__controller">
                    <button class="btn btn__secondary" [disabled]="!signUpForm.valid" type="submit">{{ title }}</button>
                </div>
                <div class="form__controller--footer">
                    <a routerLink="/sign-in" class="form__link" *ngIf="authType == 'sign-up'">
                        <p class="paragraph__text">
                            I have an account
                        </p>
                    </a>
                </div>
            </form>
            <form [formGroup]="loginForm" class="form" (submit)="submitForm()" *ngIf="authType == 'sign-in'">
                <div class="form__controller">
                    <input type="email" class="form__input" formControlName="email" placeholder="Email Address">
                </div>
                <div class="form__controller">
                    <input type="password" class="form__input" formControlName="password" placeholder="Password">
                </div>
                <div class="form__controller">
                    <button class="btn btn__secondary" [disabled]="!loginForm.valid" type="submit">{{ title }}</button>
                </div>
                <div class="form__controller--footer">
                    <a class="form__link" routerLink="/sign-up" *ngIf="authType == 'sign-in'">
                        <p class="paragraph__text">
                            I need an account?
                        </p>
                    </a>
                    <a class="form__link" routerLink="/sign-up" *ngIf="authType == 'sign-in'">
                        <p class="paragraph__text">
                            I forgot my password?
                        </p>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>