<div class="container">
    <div *ngIf="isLoading">
        <h1>Is Loading</h1>
    </div>
</div>
<div class="section" *ngIf="!isLoading">
    <div class="section__header">
        <div class="container">
            <h1 class="heading__article heading__center">{{ article.title }}</h1>
        </div>
    </div>
    <div class="banner banner__article">
        <div class="container" style="padding: 0;"><img [src]="article.imageUrl" alt="" class="banner__img">
        </div>
    </div>
</div>
<div class="section__social" *ngIf="!isLoading">
    <div class="container" style="display: flex; justify-content: space-between; flex-wrap: wrap">
        <app-article-meta [article]="article">
            <div>
                <span *ngIf="userMode">
                    <app-follow-buttons *appShowAuthed="true" [profile]="article.author"
                        (toggle)="onToggleFollowing($event)">
                    </app-follow-buttons>
                    <app-favourite-buttons *appShowAuthed="true" [article]="article" (toggle)="onToggleLiked($event)">
                        {{ article.likeCount }}
                    </app-favourite-buttons>
                </span>
            </div>
        </app-article-meta>

        <div class="icon__container">
            <svg class="icon icon__social icon__facebook">
                <use xlink:href="/assets/icons.svg#icon-facebook"></use>
            </svg>
            <svg class="icon icon__social icon__twitter">
                <use xlink:href="/assets/icons.svg#icon-twitter"></use>
            </svg>
            <svg class="icon icon__social icon__google">
                <use xlink:href="/assets/icons.svg#icon-google"></use>
            </svg>
            <svg class="icon icon__social icon__instagram">
                <use xlink:href="/assets/icons.svg#icon-instagram"></use>
            </svg>
        </div>
    </div>
</div>
<div class="section__secondary" *ngIf="!isLoading">
    <div class="container">
        <div class="article__container">
            <div class="article" [innerHtml]="article.body">
            </div>
            <ul class="article__tags">
                <li class="article__tag" *ngFor="let tag of article.tagList">
                    #{{ tag }}
                </li>
            </ul>
        </div>

        <div class="article__actions">
            <app-article-meta [article]="article">
                <div class="article__action" *ngIf="userMode">
                    <a [routerLink]="['/editor', article.slug]" class="btn btn__secondary">
                        <svg class="icon">
                            <use xlink:href="/assets/icons.svg#icon-drive_file_rename_outline"></use>
                        </svg>
                        <p class="paragraph__qoute">Edit Article</p>
                    </a>

                    <a class="btn btn__warn" [ngClass]="{disabled: isLoading}" (click)="deleteArticle()">
                        <svg class="icon">
                            <use xlink:href="/assets/icons.svg#icon-delete_outline"></use>
                        </svg>
                        <p class="paragraph__qoute">Delete Article</p>
                    </a>
                </div>

                <div *appShowAuthed="true">
                    <app-favourite-buttons [article]="article" (toggle)="onToggleLiked($event)">
                        {{ article.likeCount }}
                    </app-favourite-buttons>
                </div>
            </app-article-meta>
            <div class="article__action--share">
                <!-- <a href="#" (click)="fb($event)"><img src="assets/imgs/fb.svg"/></a> -->
            </div>
        </div>
        <div class="article__comments">
            <div class="comment__container">
                <div *appShowAuthed="true">
                    <app-list-errors [errors]="errors"></app-list-errors>
                    <form [formGroup]="commentForm" (submit)="addComment()" class="comment__form">
                        <h3 class="heading__tertiary">Add Comment</h3>

                        <div class="form__controller">
                            <textarea formControlName="comment" placeholder="Add Comment" id="comment" rows="4"
                                [disabled]="isLoading" class="form__textarea"></textarea>
                        </div>
                        <div class="form__footer">
                            <img [src]="user.profileImage" class="form__image">
                            <button class="btn btn__secondary" type="submit"> Submit </button>
                        </div>
                    </form>
                </div>
                <div *appShowAuthed="false" class="comment__authentication">
                    <a routerLink="/sign-up" class="">Sign Up</a> or <a routerLink="/sign-in">Sign In</a> to comment
                </div>

                <app-article-comment *ngFor="let comment of comments" [comment]="comment"
                    (deleteComment)="onDeleteComment(comment)"></app-article-comment>
            </div>
        </div>
    </div>
</div>
<div class="section__secondary" *ngIf="!isLoading">
    <div class="container">
        <h2>Recent articles by author</h2>
    </div>
</div>