.article {
  &__preview {
    background: transparent;
    transition: all 0.3s;
    height: 100%;
    display: flex;

    &--container {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }

    &--head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
    }

    &--img {
      width: 100%;
      border-radius: 6px;
    }

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &--body {
    }

    &--actions {

    }

    &--link {
      text-decoration: none;
      color: #000;
    }

    &--title {
      margin: 0;
      padding: 4px 0;
      font-size: 22px;
      font-weight: 900;
      line-height: 1;
      font-family: var(--tertiary-font);
      text-transform: lowercase;
    }

    &--text {
      margin: 0;
      padding: 0;
      font-size: 13px;
      line-height: 1;
      word-spacing: -1;
    }

    &--footer {
      margin-top: 12px;

    }
  }
}
