<div class="article__preview">
    <div class="article__preview--container">
        <div class="article__preview--header">
            <a [routerLink]="['/article', article.slug]" class="article__preview--link">
                <h1 class="article__preview--title">{{ article.title }}</h1>
            </a>
            <app-favourite-buttons *appShowAuthed="true" [article]="article" (toggle)="onToggleLiked($event)">
            </app-favourite-buttons>
        </div>
        <a [routerLink]="['/article', article.slug]" class="article__preview--link">
            <div class="article__preview--body">
                <p class="article__preview--text">{{ article.description }}</p>
                <ul class="tag__list">
                    <li class="tag__item" *ngFor="let tag of article.tagList">
                        {{ tag }}
                    </li>
                </ul>
            </div>
        </a>
        <div class="article__preview--footer">
            <app-article-meta [article]="article">
            </app-article-meta>
        </div>
    </div>
</div>