.banner {
  border-radius: 5px;
  height: 320px;
  flex-direction: row;
  margin-bottom: 30px;
  background: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-light);


  &__body {
    flex: 1;
    padding: 0px 30px 30px;
    text-align: center;
  }

  &__img {
    width: 100%;
  }

  &__article {
    background: unset;
    box-shadow: unset;
    border-radius: unset;
    display: unset;
    height: unset;
    max-height: 500px;
  }

  &__user {
    height: unset;
    padding: 50px 0;
    background: var(--color-grey-background-dark);

    &--body {
      flex: 1;
      padding: 5px 30px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .btn {
      min-width: 120px;
    }
  }

  &__heading {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 0;
    line-height: 1;
    font-family: var(--secondary-font);
    color: #000;
  }

  &__text {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: grey;
  }
}
