.banner {
  border-radius: 5px;
  height: 320px;
  box-shadow: var(--shadow-light);
  flex-direction: row;
  margin-bottom: 30px;
  background: var(--color-background-light);
  display: flex;
  align-items: center;
  position: relative;


  &__body {
    flex: 0 0 300px;
    padding: 0px 30px 30px;
  }

  &__home {
    background: url("/assets/3838061.png") no-repeat;
    background-position: right top;
    background-size: cover;
    height: 320px;
    flex: 1;
  }

  &__user {
    height: unset;
    padding: 50px 0;
    background: var(--color-grey-background-dark);

    &--body {
      flex: 1;
      padding: 5px 30px;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    width: 100%;

    .btn {
      min-width: 120px;
    }
  }

  &__heading {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
    padding: 0;
    line-height: 1;
    font-family: var(--secondary-font);
    color: #000;
  }

  &__text {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: grey;
  }
}
