.dropbox {
//   display: none;
  position: absolute;
  background: var(--color-grey-background-dark);
  box-shadow: var(--shadow-very-dark);
  z-index: 10;
  padding: 20px 20px;
  top: 100%;
  left: -90px;
  border-radius: 3px;
  min-width: 110px;

  &::after {
    content: "";
    position: absolute;
    right: 18px;
    top: 0;
    width: 10px;
    height: 10px;
    margin-top: -2px;
    transform: rotateZ(45deg) translateX(-50%);
    border-style: solid;
    border-color: transparent;
    background: var(--color-grey-background-dark);
    z-index: -3;
  }

  &__holder {
    position: relative;
  }

  &__container {
  }

  &__list {
    display: block;
    padding: 0px;
    list-style: none !important;
  }

  &__item {
    list-style: none !important;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    list-style: none !important;
    font-size: 14px;
    cursor: pointer;
    color: #000;

    &--warn {
      transition: all 0.3s;
      &:hover {
        color: var(--color-warn) !important;
      }
    }
  }
}
