<div class="section">
    <div class="container">
        <div class="editor__container">
            <div class="editor">
                <app-list-errors [errors]="errors"></app-list-errors>

                <form [formGroup]="editorForm" class="form" (keydown.enter)="$event.preventDefault()"
                    (submit)="submitArticle()">
                    <div class="form__controller">
                        <input type="text" formControlName="title" placeholder="Article Title" required
                            class="form__input form__title" [disabled]="isSubmitting">
                    </div>
                    <div class="form__controller">
                        <textarea formControlName="description" required placeholder="Write Your Article Description"
                            class="form__input form__description" rows="4" [disabled]="isSubmitting"></textarea>
                    </div>
                    <div class="form__controller">
                        <app-text-editor [(ngModel)]="context" name="editor" placeholder=""></app-text-editor>
                    </div>
                    <div class="form__controller form__controller--tags">
                        <input formControlName="tag" class="form__input" type="text" [disabled]="isSubmitting"
                            placeholder="Add tags" (keyup.enter)="addTag()">

                        <div class="form__tags--container">
                            <div class="form__tags" *ngFor="let tag of tagList; let i = index">
                                <p class="form__tag" (click)="removeTag(i)">
                                    {{ tag }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form__controller">
                        <button class="btn btn__primary" [disabled]="isSubmitting">
                            {{mode}} Article
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- *ngFor="let tag of tags" -->