<div *ngIf="isLoading">
    <h1>Is Loading</h1>
</div>
<div *ngIf="!isLoading">
    <div class="section">
        <div class="container">
            <div class="banner banner__user">
                <div class="profile__content">
                    <div class="profile__settings">
                        <app-on-click>
                            <button button class="btn btn__settings" *ngIf="isUser && isAuthed">
                                <svg class="icon icon__primary">
                                    <use xlink:href="/assets/icons.svg#icon-settings"></use>
                                </svg>
                            </button>
                            <div dropdown class="dropbox">
                                <div class="dropbox__container">
                                    <ul class="dropbox__list">
                                        <li class="dropdox__item">
                                            <a routerLink="/settings" class="dropbox__link dropbox__link--warn">Edit
                                                Profile</a>
                                        </li>
                                        <li class="dropdox__item">
                                            <a [routerLink]="['stats']" class="dropbox__link">Stats</a>
                                        </li>
                                        <li class="dropdox__item">
                                            <a (click)="onSignOut()" class="dropbox__link">Sign Out</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </app-on-click>
                    </div>
                    <div class="profile__content--img">
                        <img [src]="profile.profileImage" alt="" class="profile__image">
                    </div>
                    <div class="profile__content--body">
                        <h1 class="profile__title"> {{ profile.username }}
                            <svg class="icon icon__verified">
                                <use xlink:href="/assets/icons.svg#icon-check-circle"></use>
                            </svg>
                        </h1>
                        <p class="profile__details">{{ profile.bio }}</p>
                        <a class="profile__details profile__details--web">https://website.com</a>
                        <div class="profile__stats--count">
                            <div class="profile__stats--count-content">
                                <a [routerLink]="['/profile', profile.username ]" class="profile__stats--body">
                                    <p class="profile__stats--amount">{{profile.articleCount || 0}}</p>
                                    <h5 class="profile__stats--title">Articles</h5>
                                </a>
                                <a [routerLink]="['/profile', profile.username, 'followers' ]"
                                    class="profile__stats--body">
                                    <p class="profile__stats--amount">{{profile.followers || 0}}</p>
                                    <h5 class="profile__stats--title">Followers</h5>
                                </a>
                                <a [routerLink]="['/profile', profile.username, 'following' ]"
                                    class="profile__stats--body">
                                    <p class="profile__stats--amount">{{profile.followings || 0}}</p>
                                    <h5 class="profile__stats--title">Following</h5>
                                </a>
                            </div>
                        </div>
                        <app-follow-buttons *appShowAuthed="true" [profile]="profile"
                            (toggle)="onToggleFollowing($event)">
                        </app-follow-buttons>
                    </div>
                </div>
            </div>
            <div class="banner__user--background">
            </div>
        </div>
    </div>
    <div class="section__secondary">
        <div class="container">
            <div class="layout__column--container">
                <div class="layout__column">
                    <ul class="profile__nav">
                        <li class="profile__nav--item">
                            <a [routerLink]="['/profile', profile.username ]" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }" class="profile__nav--link">
                                {{ isUser ? 'My Articles' : profile.username + "'s articles" }}
                            </a>
                        </li>
                        <li class="profile__nav--item dropbox__holder" *ngIf="!isUser && isAuthed">
                            <div class="profile__nav--link">
                                <app-on-click>
                                    <button button class="btn btn__settings">
                                        <svg class="icon icon__primary">
                                            <use xlink:href="/assets/icons.svg#icon-more_vert"></use>
                                        </svg>
                                    </button>

                                    <div dropdown class="dropbox">
                                        <div class="dropbox__container">
                                            <ul class="dropbox__list">
                                                <li class="dropdox__item">
                                                    <a (click)="onRestrictAccount()"
                                                        class="dropbox__link dropbox__link--warn">Restrict</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a (click)="onBlockAccount()"
                                                        class="dropbox__link dropbox__link--warn">Block</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a (click)="onReportAccount()"
                                                        class="dropbox__link dropbox__link--warn">Report</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a [routerLink]="['about']" class="dropbox__link">About</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a (click)="onHideAccount()" class="dropbox__link">Hide My
                                                        Account</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a (click)="onFollowAccount()" class="dropbox__link">Follow</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a (click)="onShareAccount()" class="dropbox__link">Share
                                                        Account</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </app-on-click>
                            </div>
                        </li>
                        <li class="profile__nav--item dropbox__holder" *ngIf="isUser && isAuthed">
                            <div class="profile__nav--link">
                                <app-on-click>
                                    <button button class="btn btn__settings">
                                        <svg class="icon icon__primary">
                                            <use xlink:href="/assets/icons.svg#icon-content_copy"></use>
                                        </svg>
                                    </button>
                                    <div dropdown class="dropbox">
                                        <div class="dropbox__container">
                                            <ul class="dropbox__list">
                                                <li class="dropdox__item">
                                                    <a [routerLink]="['../../profile', profile.username]"
                                                        class="dropbox__link">My Articles</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a [routerLink]="['liked']" class="dropbox__link">Liked
                                                        Articles</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a [routerLink]="['readLater']" class="dropbox__link">Read
                                                        Later</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a [routerLink]="['archived']" class="dropbox__link">Archived</a>
                                                </li>
                                                <li class="dropdox__item">
                                                    <a [routerLink]="['lists']" class="dropbox__link">Lists</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </app-on-click>
                            </div>
                        </li>
                    </ul>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>