<section class="section">
    <div class="container" style="padding-top: 20px;">
        <div class="banner" *appShowAuthed="false">
            <div class="banner__body">
                <h1 class="banner__heading">Sign Up Now To Share</h1>
                <p class="banner__text">Join our growing community.</p>
                <!-- <a routerLink="sign-up" class="btn btn__secondary">Sign Up</a> -->
                <div class="banner__actions">
                    <a routerLink="sign-in" class="btn btn__primary">Sign In</a>
                    <a routerLink="sign-up" class="btn btn__secondary">Sign Up</a>
                </div>
            </div>
            <div class="banner__home">
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 20px;">
        <div class="category__container">
            <a routerLink="/editor" class="category category__main">
                <svg class="icon">
                    <use xlink:href="/assets/icons.svg#icon-pencil"></use>
                </svg>
                <p class="heading__tertiary">Write Article</p>
            </a>
            <a routerLink="/trending" class="category">
                <svg class="icon">
                    <use xlink:href="/assets/icons.svg#icon-trending_up"></use>
                </svg>
                <p class="heading__tertiary">Trending</p>
            </a>
            <a routerLink="/results" class="category">
                <svg class="icon">
                    <use xlink:href="/assets/icons.svg#icon-search"></use>
                </svg>
                <p class="heading__tertiary">Search</p>
            </a>
        </div>
        <div class="feed__container">
            <div class="feed__column--1">
                <div class="feed">
                    <div class="feed__nav">
                        <ul class="nav__list">
                            <li class="nav__item" *appShowAuthed="true"><a
                                    [ngClass]="{'active': listConfig.type === 'feed'}" (click)="setViewTo('feed')"
                                    class="nav__link">{{ postsTitle }}</a></li>
                            <li class="nav__item"><a
                                    [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
                                    (click)="setViewTo('')" class="nav__link">Global</a></li>
                            <!-- <li class="nav__item"><a class="nav__link  nav__link--active"> {{ listConfig.filters.tag }}</a></li> -->
                        </ul>
                    </div>
                </div>

                <app-article-list [limit]="10" [listConfig]="listConfig"></app-article-list>

                <!-- <div>
                    <h2 class="heading__secondary">Trending</h2>
                    <app-article-list [limit]="10" [trendingConfig]="trendingConfig"></app-article-list>

                </div> -->

            </div>
            <div class="feed__column--2">
                <div class="feed__sidenav">
                    <ul class="feed__sidenav--list">
                        <li class="feed__sidebar--item">
                            <p class="text__qoute">Trending Topics</p>
                            <ul class="tag__list">
                                <li class="tag__item" *ngFor="let tag of trending">
                                    <a (click)="setViewTo('', {tag: tag})" class="tag__link"> {{ tag }}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="feed__sidebar--item" [hidden]="tagsLoaded">
                            Loading Trending Topics...
                        </li>
                        <li class="feed__sidebar--item" [hidden]="!tagsLoaded || trending.length > 0">
                            No Trending Topics Available...
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>