<nav class="nav__bar">
    <div class="container__nav">
        <a routerLink="/" class="nav__logo">
            <img src="https://i.ya-webdesign.com/images/green-logo-png-13.png" alt="" class="nav__logo--img">
        </a>

        <ul class="nav__list nav__authentication" *appShowAuthed="false">
            <li class="nav__item nav__search">
                <form class="nav__search--form" (submit)="searchForm">
                    <button class="nav__search--btn" type="submit">
                        <svg class="nav__search--icon">
                            <use xlink:href="/assets/icons.svg#icon-search"></use>
                        </svg>
                    </button>
                    <input type="search" placeholder="Search articles and more..." required class="nav__search--input">
                </form>
            </li>
            <li class="nav__item"><a routerLink="/sign-in" class="nav__link btn btn__primary"
                    routerLinkActive="active">Sign In</a></li>
            <li class="nav__item"><a routerLink="/sign-up" class="nav__link btn btn__secondary"
                    routerLinkActive="active">Sign Up</a></li>
        </ul>

        <ul *appShowAuthed="true" class="nav__list">
            <li class="nav__item nav__search">
                <form class="nav__search--form" (submit)="searchForm">
                    <button class="nav__search--btn" type="submit">
                        <svg class="nav__search--icon">
                            <use xlink:href="/assets/icons.svg#icon-search"></use>
                        </svg>
                    </button>
                    <input type="search" placeholder="Search articles and more..." required class="nav__search--input">
                </form>
            </li>
            <li class="nav__item nav__item--dropdown">
                <a [routerLink]="['/profile', user.username]" class="nav__link">
                    <img [src]="user.profileImage" class="nav__profile--image" alt=""></a>
                <ul class="nav__dropdown">
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item"><a routerLink="/" class="nav__dropdown--link">Home</a></li>
                        <li class="nav__dropdown--item"><a routerLink="/trending"
                                class="nav__dropdown--link">Trending</a></li>
                        <li class="nav__dropdown--item"><a [routerLink]="['/profile', user.username, 'following']"
                                class="nav__dropdown--link">Following</a></li>
                    </ul>
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item"><a routerLink="/editor" class="nav__dropdown--link">New
                                Article</a></li>
                        <li class="nav__dropdown--item"><a [routerLink]="['/profile', user.username, 'articles']"
                                class="nav__dropdown--link">My Articles</a></li>
                        <li class="nav__dropdown--item"><a [routerLink]="['/profile', user.username, 'liked']"
                                class="nav__dropdown--link">Liked Articles</a></li>
                        <li class="nav__dropdown--item"><a [routerLink]="['/profile', user.username, 'read-later']"
                                class="nav__dropdown--link">Read Later</a></li>
                    </ul>
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item"><a [routerLink]="['/profile', user.username]"
                                class="nav__dropdown--link">Profile</a></li>
                        <li class="nav__dropdown--item"><a routerLink="/settings"
                                class="nav__dropdown--link">Settings</a></li>
                        <li class="nav__dropdown--item" (click)="onSignOut()"><a routerLink=""
                                class="nav__dropdown--link nav__dropdown--warn">Sign Out</a></li>
                    </ul>
                </ul>
            </li>
        </ul>
    </div>
</nav>