.nav {
  &__bar {
    box-shadow: 0px 3px 9px -2px rgba(0, 0, 0, 0.08);
    background: #fff;

    .container__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__search {
    flex: 1;
    cursor: default !important;

    &--form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }

    &--error {
      padding: 0;
      margin: 0;
      font-size: 10px;
      color: red;
      margin-top: 6px;
    }

    &--controller {
      flex: 1;
      padding: 2px 6px;
      position: relative;

      &-search {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    &--dropdown {
      position: absolute;
      width: 100%;
      top: 100%;
      padding: 10px 10px 2px;
      background: rgb(255, 255, 255);
      box-shadow: var(--shadow-light);
      border-bottom: 1px solid;
      border-color: var(--color-grey-background-dark);
      z-index: 0;

      &-container {
        padding: 6px 0;
        margin-top: 10px;
      }

      &-content {
        margin-top: 10px;
      }

      &-trending {
        display: grid;
        margin-top: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 10px;
      }

      &-link {
        font-size: 12px;
        text-decoration: none;
        font-weight: 900;
        color: rgb(0, 0, 0);
        padding: 6px 0 6px 2px;
        margin: 0;
        transition: all .3s;

        &:hover {
          background: var(--color-quad);

        }
      }
    }

    &--small-title {
      font-size: 12px;
      font-weight: 900;
      color: var(--color-quad);
      padding: 0;
      margin: 0;
    }

    &--label {
      font-size: 11px;
      padding: 8px 8px 5px;
      margin: 0;
      margin-right: 8px;
      border-radius: 4px;
      border: 2px solid;
      border-color: var(--color-grey-background-dark);
      box-shadow: var(--shadow-light);
      cursor: pointer;
      background: transparent;
      transition: all 0.3s;
      text-transform: uppercase;

      &:hover {
        background: var(--color-quad);
      }
    }

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: none;
      background: transparent;
      cursor: pointer;
      padding: 6px;
      transition: all 0.3s;
      border: none;
      border-color: none;
    }

    &--input {
      width: 100%;
      background: transparent;
      border: 1px solid;
      padding-left: 8px;
      padding: 6px;
      font-size: 16px;
      border: none;
      border-color: none;
      transition: all 0.3s;

      &-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
  
      }
    }

    &--radio {
      display: none;
    }

    &--radio[type="radio"]:checked + label {
      background: var(--color-quad);
    }

    &--icon {
      height: 22px;
      width: 22px;
      fill: #000;
    }
  }

  &__logo {
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    &--img {
      height: 40px;
      padding: 0;
      margin: 0;
    }
  }

  &__authentication {
    flex: 1 !important;
    display: flex;
    justify-content: flex-end !important;

    .nav {
      &__item {
        padding: 18px 8px 10px;
        margin: 0;

        .btn {
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }
    }
  }

  &__profile--image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
  }

  &__item {
    margin: 0 8px;
    list-style: none;
    cursor: pointer;
    padding: 18px 18px 10px;

    &--dropdown {
      position: relative;
      display: inline-block;

      &:hover {
        .nav__dropdown {
          display: block;
        }
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    background: var(--color-grey-background-dark);
    box-shadow: var(--shadow-very-dark);
    z-index: 1;
    padding: 25px 30px;
    top: 100%;
    left: -90px;
    border-radius: 3px;
    min-width: 110px;

    &::after {
      content: "";
      position: absolute;
      right: 18px;
      top: 0;
      width: 10px;
      height: 10px;
      margin-top: -2px;
      transform: rotateZ(45deg) translateX(-50%);
      border-style: solid;
      border-color: transparent;
      background: var(--color-grey-background-dark);
      z-index: -3;
    }

    &--list {
      display: block;
      padding: 10px 0px;
    }

    &--item {
      list-style: none;
      padding: 0;
    }

    &--link {
      text-decoration: none;
      font-size: 14px;
      cursor: pointer;
      color: #000;
    }

    &--warn {
      transition: all 0.3s;
      &:hover {
        color: var(--color-warn) !important;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #000;

    &:hover {
      color: var(--color-primary);
    }
  }
}
